<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    <link rel="stylesheet" th:href="@{/css/adminhome.css}" />
    <!-- Link to your corrected CSS file -->
</head>
<body class="admin">

    <div class="container">
        <h1 class="admin">Admin Home</h1>
        
        <div class="options">
            <a href="newSong">Add a New Song</a>
            <a href="ViewSong">View All Songs</a>
            <a href="createPlaylist">Create Playlist</a>
            <a href="viewPlaylist">View All Playlist Songs</a>
        </div>
    </div>
    
</body>
</html>
